<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Dashboard sera affiché par défaut si aucun block title n'est renseigné dans les templates enfants #}
        <title>MoiJV - {% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
